body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #ffcc00 0%, #ff9900 100%);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #333;
}

.App {
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 20px; /* Add padding to the App container */
}

.App-header {
  background: rgba(255, 213, 128, 0.9); /* lighter orange with transparency */
  padding: 40px 20px; /* Increase padding to move content down */
  color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 165, 0, 0.7);
  transition: transform 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

nav {
  margin-bottom: 20px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #ff6600;
}

h1 {
  font-size: 2.5em;
  color: #333;
}

.card {
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.connect-button, .action-button {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  margin: 10px;
}

.connect-button:hover, .action-button:hover {
  background-color: #e65c00;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.connect-button:focus, .action-button:focus {
  outline: none;
}

.about {
  text-align: left;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about h2 {
  font-size: 2em;
  color: #333;
}

.about p {
  font-size: 1.1em;
  color: #666;
}

.about ul {
  list-style: none;
  padding: 0;
}

.about ul li {
  margin: 10px 0;
  font-size: 1.1em;
  color: #444;
}

.about a {
  color: #ff6600;
  text-decoration: none;
  transition: color 0.3s;
}

.about a:hover {
  color: #e65c00;
}
